<div ng-controller="homeController">
	<br/><br/>
	<div class="row">
		<div class="col-lg-6 col-md-8 col-sm-6 col-xs-12" id="imageSearch">
			<h3>Find cat</h3>
			<form class="col-xs-7">
				<div class="form-group">
					<label for="locationP">Location</label>
					<select ng-model="locationSearch" id="locationP" class="form-control">
						<option ng-repeat="l in locations" value="{{l.id}}">{{l.city}}</option>
					</select>
				</div>
				<div class="row">
					<div class="form-group col-xs-6">
						<label for="breedP">Breed</label>
						<select ng-model="breedSearch" id="breedP" class="form-control">
							<option ng-repeat="b in breeds" value="{{b.id}}">{{b.title}}</option>
						</select>
					</div>
					<div class="form-group col-xs-6">
						<label for="sexP">Sex</label>
						<select ng-model="sexSearch" id="sexP" class="form-control">
							<option value="male">male</option>
							<option value="female">female</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-6">
						<label for="ageP">Age</label>
						<select ng-model="ageSearch" id="ageP" class="form-control">
							<option ng-repeat="a in ages" value="{{a.id}}">{{a.title}}</option>
						</select>
					</div>
					<div class="form-group col-xs-6">
						<label for="colorP">Color</label>
						<select ng-model="colorSearch" id="colorP" class="form-control">
							<option ng-repeat="c in colors" value="{{c.id}}">{{c.title}}</option>
						</select>
					</div>
				</div>
				<button ng-click="search()" class="btn btn-primary">Search</button> <button ng-click="reset()"  class="btn btn-success">Reset</button><br><br>
			</form>
		</div>
	</div>



	<br/>
	<div class="row">
		<h3>Cats waiting to be adopted</h3><br>
		<div ng-repeat="c in cats" class="list col-xs-3" id="{{m.id}}">						
			<table align="center">
				<tr>
					<td><img ng-src="data:image/jpeg;base64,{{c.image}}" id="imageList" class="img-responsive"></td>
				</tr>
				<tr>
					<td><h4>{{c.name}}</h4></td>
				</tr>
				<tr>
					<td>{{c.sex}}, {{c.locationCity}}</td>
				</tr>
				<tr>
					<th><button type="button" ng-click="moreInfo(c.id)" class="btn btn-sm">More info</button></th>
				</tr>
			</table>
		</div>
		<div id="newPage">
			<button ng-click="changePage(-1)" ng-disabled="pageNum==0" class="btn btn-primary btn-lg">Prev</button> <button ng-click="changePage(1)" ng-disabled="pageNum==totalPages-1" class="btn btn-primary btn-lg">Next</button>
		</div>
	</div>
	<br/><br/><br/>
	
</div>